
.card__linea--ultimo{
    margin-top: 2rem;
}
.card-body{
    ul{
        padding: 0px 0px 0px 20px;
        margin: 0px;
    }
}
@media only screen and (min-width: 600px) and (max-width: 700px){
    .card__linea--ultimo{
        margin-top: 300px;
    }
    .card__linea--ultimo2{
        margin-top: 100px;
    }
    

}
@media only screen and (min-width: 700px) and (max-width: 1500px){
.cartas{
    height: 800px;
}
.card__linea--ultimo{
    margin-top: 170px;
}
.card__linea--ultimo2{
    margin-top: 75px;
}
 
    .card-body{
        height: 450px;
    }
    
    
}
@media only screen and (min-width: 1500px) and (max-width: 1980px){
    .card__linea--ultimo{
        margin-top: 170px;
    }
    .card__linea--ultimo2{
        margin-top: 95px;
    }

}
