/*version mobile*/
.hero-section__text{
    left: 20px;
   .text__titulo{
       padding-top: 50px;
       font-size: $x-large;
       font-weight: 600;
       margin: 0px;

   }
     
  }
.caracteristicas__titulo{
    padding: 10px 0px 50px 0px;
    text-align: center;
}

