/*configuracion de varibale*/
// color scheme
$white-blanco: #fff;
$platinium: #e8e8e8;
$gris-uno: #bababa;

// naranjo-salmon
$salmon-uno: #ee9480;
$salmon-dos: #f4baae;
$salmon-tres: #fadfda;

// verde aquamarine
$aquamarine-uno: #2ab7ca;
$aquamarine-dos: #77d1dd;
$aquamarine-tres: #b1e4eb;

// gris-parte uno
$gris-dos: #333745;
$gris-tres: #8f9199;
$gris-cuatro: #c7c8cc;

// gris-parte dos
$gris-cinco: #221d23;
$gris-seis: #726f73;
$gris-siete: #aeacaf;


// tipografia
// font size
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$small: 14px;
$x-small: 12px;

