footer{
    background: $gris-cinco;
    height: 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: $white-blanco;
    // cambiar esto a tipografia
    font-size: 20px;
    
}