#hero-section{
    position: relative;
    height: 550px;
}

.hero-section__img{
   top: 280px;
   position: relative;
}

.hero-section__text{
  top: 0px;
  width: 300px;
  text-align: center;
    position: absolute;
    padding: 0px 20px;
    margin: 0px;
}

/*media queries aplicados para el ajuste del hero section*/

@media only screen and (min-width: 992px) and (max-width: 1980px){
    #hero-section{
        position: relative;
    height: 850px;
    }
    
    .hero-section__img{
        top: 0px;
        width: 100vw;
        position: absolute;
    
    }
    .hero-section__text{
        width: 350px;
        position: absolute;
        top: 50px;
        left: 150px;
    padding: 0px;

    
    }
}